# These are example values for the production environment, you should change them to your own values
# it will override the values from the ngen.base.env file

### General settings

# Public URL for the frontend used to generate links in emails
FRONTEND_PUBLIC_URL=https://localhost

#### Django

# You should change this value to a random string
# Example:
# DJANGO_SECRET=django-very-long-secret-key!!!

DJANGO_SECRET_KEY=CHANGEME!!!

# Allowed hosts separated by commas, add your domain here
# Example:
# DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,ngen.yourdomain.com

DJANGO_ALLOWED_HOSTS=*

# CORS allowed origins separated by commas, add your frontend url here
# Example:
# DJANGO_CORS_ALLOWED_ORIGINS=https://ngen.yourdomain.com

DJANGO_CORS_ALLOWED_ORIGINS=https://127.0.0.1,https://localhost

#### Email

# Email server host
# Example:
# EMAIL_HOST=smtp.yourdomain.com

EMAIL_HOST=ngen-mail

# Email server port
# Example:
# EMAIL_PORT=25

EMAIL_PORT=1025

# Email server use TLS

EMAIL_USE_TLS=False

# Email server user

EMAIL_USERNAME=pruebas
EMAIL_PASSWORD=password
