# This is the environment file for the development environment
# it will override the values from the ngen.base.env file

#### Django

DJANGO_SECRET_KEY=Some_secret_k3y
DJANGO_ALLOWED_HOSTS=*
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_DEBUG=True

#### Frontend

# Keep blank to use the same as the frontend
VITE_APP_API_HOST=
VITE_APP_API_PORT=8000
VITE_APP_API_PATH=/api/
VITE_APP_ENV=development


#### Email 

EMAIL_HOST=ngen-mail
EMAIL_PORT=1025
