# This is the environment file for the development environment
# it will override the values from the ngen.base.env file

#### Django

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0,ngen-django
DJANGO_SECRET_KEY=Some_secret_k3y
DJANGO_ALLOWED_HOSTS=*
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_DEBUG=True

#### Frontend

VITE_APP_API_SERVER=http://localhost:8000/api/
VITE_APP_ENV=development


#### Email 

EMAIL_HOST=ngen-mail
EMAIL_PORT=1025
