@use '_variables' as *;

.pcoded-navbar.menupos-static {
  position: fixed;
}

.pcoded-header {
  min-height: 0px;
}

.scrollbar-container {
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pcoded-navbar.menupos-static .datta-scroll.navbar-content {
  min-height: 0px;
}

@media screen and (max-width: 991px) {
  .pcoded-navbar.menupos-static .datta-scroll.navbar-content {
    height: 100%;
  }
}

#nav-ps-next-bottom {
  bottom: 0px;
  position: sticky;
  width: 100%;
  background: $menu-dark-background;
  z-index: 9999;
  align-self: flex-end;
  box-shadow: inset 0 7px 4px -7px $theme-font-color,
  0 0 0 0px $theme-font-color;
}

#teamlogo_login {
  max-width: 200px;
  margin-top: 20px;
}

#teamlogo {
  max-width: 200px;
}

.pcoded-navbar.navbar-collapsed:hover .header-logo img {
  opacity: 1;
  clip-path: inset(0 0 0 0);
  transition: clip-path 1s;
}

.pcoded-navbar.navbar-collapsed .header-logo img {
  transform: rotateY(0deg);
  opacity: 1;
  clip-path: inset(0 calc(200px - #{$Menu-collapsed-width} + 40px) 0 0);
}

// avoid overflow and multiline text in form labels
.form-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
	margin: 1px;
}

.border-transparent {
  border: 1px solid transparent;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row-false-positive {
  // background-color: #f1f1f1 !important;
  color: #999999 !important;
}

.row-false-positive td {
  // background-color: #f1f1f1 !important;
  color: #999999 !important;
}

.row-false-positive span {
  // background-color: #f1f1f1 !important;
  color: #999999 !important;
}

.row-false-positive i {
  // background-color: #f1f1f1 !important;
  color: #ccc !important;
}

.row-false-positive button {
  // background-color: #f1f1f1 !important;
  color: #ccc !important;
  border-color: #ccc !important;
}

// .row-false-positive button {
//   background-color: #f1f1f1 !important;
//   color: #ccc !important;
//   border-color: transparent !important;
// }



.custom-badge {
  padding: 5px 10px; /* Ajusta el padding si es necesario */
  font-weight: bold; /* Cualquier otro estilo adicional */
}

.tlp-red {
  color: #ff0000 !important;
  background-color: #ffffff !important;
  border-radius: 4px;
}

.tlp-amber {
  color: #ffbf00 !important;
  background-color: #000000 !important;
  border-radius: 4px;
}

.tlp-green {
  color: #00ff00 !important;
  background-color: #000000 !important;
  border-radius: 4px;
}

.tlp-grey {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-radius: 4px;
}

.tlp-amberstrict {
  color: #ffbf00 !important;
  background-color: #000000 !important;
  border-radius: 4px;
}

.tlp-clear {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-radius: 4px;
}

.custom-badge-gray {
  padding: 5px 10px; /* Ajusta el padding si es necesario */
  font-weight: bold; /* Cualquier otro estilo adicional */
  color: #808080 !important;
  background-color: #ffffff !important;
  border-radius: 4px;
}

.form-control-color {
  padding: .375rem;
  height: calc(1.5em + .75rem + var(--bs-border-width)*2);
}
