
.pcoded-navbar.menupos-static {
  position: fixed;
}

.pcoded-header {
  min-height: 0px;
}

.scrollbar-container {
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pcoded-navbar.menupos-static .datta-scroll.navbar-content {
  min-height: 0px;
}

@media screen and (max-width: 991px) {
  .pcoded-navbar.menupos-static .datta-scroll.navbar-content {
    height: 100%;
  }
}

#nav-ps-next-bottom {
  bottom: 0px;
  position: sticky;
  width: 100%;
  background: $menu-dark-background;
  z-index: 9999;
  align-self: flex-end;
  box-shadow: inset 0 7px 4px -7px $theme-font-color,
  0 0 0 0px $theme-font-color;
}

#teamlogo_login {
  max-width: 200px;
  margin-top: 20px;
}

#teamlogo {
  max-width: 200px;
}

.pcoded-navbar.navbar-collapsed:hover .header-logo img {
  opacity: 1;
  clip-path: inset(0 0 0 0);
  transition: clip-path 1s;
}

.pcoded-navbar.navbar-collapsed .header-logo img {
  transform: rotateY(0deg);
  opacity: 1;
  clip-path: inset(0 calc(200px - #{$Menu-collapsed-width} + 40px) 0 0);
}

// avoid overflow and multiline text in form labels
.form-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn {
	margin: 1px;
}

.border-transparent {
  border: 1px solid transparent;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
