# Use postgres/example user/password credentials
version: '3.1'
services:
    db:
        image: "postgres:latest"
        restart: always
        environment:
            POSTGRES_PASSWORD: example
        volumes:
            - './postgres_data:/var/lib/postgresql/data'
        ports:
            - "5432:5432"
    adminer:
        image: adminer
        restart: always
        ports:
            - "8080:8080"